celluloid==0.2.0
cvxpy==1.1.15
eventlet==0.33.2
Flask==2.2.2
gevent_socketio==0.3.6
gym==0.15.7
matplotlib==3.4.2
numpy==1.17.5
osqp==0.6.2.post0
scipy==1.7.1
seaborn==0.11.1
stable_baselines3==1.6.2
